* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*
@include keyframes(name) {
	from { animation }
	to { animation }
}
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; margin-bottom: 30px;}

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button,
input,
textfield {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  outline: 0;
  border-radius: 0; }

/*------------------------------------*\
	variables
\*------------------------------------*/
/*------------------------------------*\
	extend
\*------------------------------------*/
.search {
  *zoom: 1; }
  .search:before, .search:after {
    content: " ";
    display: table; }
  .search:after {
    clear: both; }

/*------------------------------------*\
	hacks
\*------------------------------------*/
a, input, button {
  -ms-touch-action: none !important; }

body {
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #5b5b5b;
  background: #f7f7f7; }

p {
  line-height: 1.2em; }

p + p {
  margin-top: 1em; }

a {
  color: #0097d7;
  text-decoration: none; }

h1 {
  font-size: 17px; margin-top: 10px;}

.container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  position: relative; }

.btn-grey {
  color: #5b5b5b;
  text-transform: uppercase;
  background: #e1e1e1;
  padding: 5px 10px;
  font-weight: 500; }

.btn-blue {
  font-size: 13px;
  color: #fff;
  background: #0097d7;
  padding: 11px 18px; }

::-webkit-input-placeholder {
  font-size: 13px;
  color: #8a8a8a;
  text-transform: uppercase; }

:-moz-placeholder {
  font-size: 13px;
  color: #8a8a8a;
  text-transform: uppercase; }

::-moz-placeholder {
  font-size: 13px;
  color: #8a8a8a;
  text-transform: uppercase; }

:-ms-input-placeholder {
  font-size: 13px;
  color: #8a8a8a;
  text-transform: uppercase; }

input[type="text"],
input[type="number"],
textfield {
  font-size: 13px;
  display: inline-block;
  background: #fff;
  border: 1px solid #d1d1d1;
  padding: 10px;
  margin: 0;
  outline: 0;
  width: 100%; }

input[type="submit"] {
  font-size: 13px;
  color: #fff;
  background: #0097d7;
  padding: 11px 18px; }

.header {
  height: 56px;
  color: #8a8a8a;
  background: #fff;
  border-bottom: 1px solid #d1d1d1;
  box-shadow: 0 1px 3px #d1d1d1;
  position: relative; }
  .header h1 {
    font-size: 17px;
    text-align: center;
    width: 100%;
    padding: 20px 0; }
  .header .btn-grey {
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -12px; }


.intro {
  margin: 12px; }
  .video > h1 {
    margin: 30px 0 0 0;
    font-weight: 500; }
  .intro h2 {
    font-size: 17px;
    margin: 1em 0 .5em 0;
    font-weight: 500; }
  .intro ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .intro li {
    display: block;
    padding: 0 0 10px 0; }
  .intro a {
    display: block;
    text-decoration: none; }


.faqs {
  border-bottom: 1px solid #d1d1d1; }
  .faqs > h1 {
    margin: 12px 15px;
    font-weight: 500; }
  .faqs article {
    border-top: 1px solid #d1d1d1; }
    @media screen and (min-width: 63.75em) {
      .faqs article {
        border: 1px solid #d1d1d1;
        border-bottom: 0; } }
    .faqs article h1 {
      position: relative;
      font-size: 13px;
      line-height: 1.2em;
      padding: 15px 28px 15px 15px;
      margin-right: 15px;
      background: url(../img/en-arrow.png) no-repeat right center; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        .faqs article h1 {
          /* on retina, use image that's scaled by 2 */
          background-image: url(url(../img/en-arrow@2x.png));
          background-size: 17px 10px; } }
      .faqs article h1 span {
        border-right: 1px solid #d1d1d1;
        display: block;
        padding-right: 10px; }
    .faqs article h2 {
      font-size: 17px;
      margin: 1em 0 .25em;
      font-weight: 500; }
    .faqs article ul {
      margin: 1em 0 0 1em;
      list-style: disc outside none; }
    .faqs article li {
      padding: 0 0 .5em 0; }
  .faqs .answer {
    display: none;
    padding: 0 15px 15px; }
  .faqs .video {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0; }
    .faqs .video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .faqs .is-active .answer {
    display: block; }
  .faqs .is-active h1 {
    background: url(../img/en-arrow-up.png) no-repeat right center; }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .faqs .is-active h1 {
        /* on retina, use image that's scaled by 2 */
        background-image: url(url(../img/en-arrow-up@2x.png));
        background-size: 17px 10px; } }

.video {
  margin: 12px; }
  .video > h1 {
    margin: 30px 0 15px 0;
    font-weight: 500; }
  .video h2 {
    font-size: 17px;
    margin: 1em 0 .5em 0;
    font-weight: 500; }
  .video ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .video li {
    display: block;
    padding: 0 0 10px 0; }
  .video a {
    display: block;
    text-decoration: none; }

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.contact {
  padding: 0 15px 10px; }
  .contact h1 {
    padding: 12px 0 0;
    font-weight: 500; }
  .contact li {
    margin-top: 15px }
  .contact span {
    width: 40px; }
	

.search {
  margin: 35px 15px 15px; }
  .search h1 {
    margin-bottom: .25em;
    font-weight: 500; }
  .search input[type="text"] {
    float: left;
    width: 100px; }
  .search input[type="submit"] {
    float: left;
    text-transform: uppercase; }
  .search .results {
    float: left;
    width: 100%; }
    .search .results li {
      line-height: 1.2em;
      margin-top: 1em; }
    .search .results span {
      font-weight: 500; }
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */

.online-help {
width: 2.5%;
height: 19%;
position: fixed;
background: url(../Images/speech-bubble.png) no-repeat #ee3124;
right: 0;
top: 40%;
background-position: 52% 10%;
}
.online-help a:link,
.online-help a:visited,
.online-help a:hover,
.online-help a:active {
color: #fff;
position: absolute;
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-o-transform: rotate(90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
text-decoration: none;
left: -97%;
top: 60%;
width: 300%;
font-size: .75em;
}
.supportTitle {
	font-size: 18px;
	border-bottom: 2px solid #E1E1E1;
	padding: 10px 0;
	margin-top: 20px;
	text-align: center;
}
.supportTitleText {
	width: auto !important;
	display: inline-block;	
}
.supportTitleBack {
	background: #E1E1E1;
	font-size: 12px;
	padding: 8px 12px;
	width: auto !important;
	display: inline-block;
	position: relative;
	top: -3px;
	font-weight: bold;
	left: 3px;
	color: #5b5b5b;
}
.inAppSupportImage  {
	text-align: center;
}
